.js [data-anima="scroll"]{
    opacity: 0;
    transition: .5s;
  
  }
  .js [data-anima="scroll"].cima{
    transform: translate3d(0, -30px, 0);
  }
  .js [data-anima="scroll"].esq{
    transform: translate3d(-50px, 0, 0);
    transition: .7s;
  }
  .js [data-anima="scroll"].dir{
    transform: translate3d(50px, 0, 0);
    transition: .7s;
  
  
  }
  .js [data-anima="scroll"].baixo{
    transform: translate3d(0, 30px, 0);
    transition: .7s;
  
  
  }
  
  .js [data-anima="scroll"].ativado{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  
  }
  
  