/* Headers */
.font-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--light-text-color, #FFF);
  }
  
  /* Headline 1 */
  .font-h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 76px;
  }
  
  /* Headline 2 */
  .font-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
  }
  
  /* Headline 3 */
  .font-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 36px;
  }
  
  /* Headline 4 */
  .font-h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 28px;
  }
  
  /* Regular */
  .font-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
  }
  
  /* Medium */
  .font-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 28px;
  }
  
  /* Body 1 */
  .font-body-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
  }
  
  /* Body 2 */
  .font-body-2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
  }
  
  /* Body 3 */
  .font-body-3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
  }
  
  /* Body 4 */
  .font-body-4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 16px;
  }
  @media (max-width: 768px) {
    /* Headers */
    .font-header {
      font-size: 1.5rem;
    }
  
    /* Headline 1 */
    .font-h1 {
      font-size: 3rem;
      line-height: 60px;
    }
  
    /* Headline 2 */
    .font-h2 {
      font-size: 1.5rem;
      line-height: 36px;
    }
  
    /* Headline 3 */
    .font-h3 {
      font-size: 1.25rem;
      line-height: 28px;
    }
  
    /* Headline 4 */
    .font-h4 {
      font-size: 1rem;
      line-height: 28px;
    }
  
    /* Regular */
    .font-regular,
    .font-medium,
    .font-body-1,
    .font-body-2,
    .font-body-3,
    .font-body-4 {
      font-size: 0.875rem;
      line-height: 24px;
    }
  }